
.layout{
    border: 1px solid #d7dde4;
    background: #f5f7f9;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}
.layout-nav{
    width: 260px;
    margin: 0 auto;
    margin-left: 20px;
}
.layout-footer-center{
    text-align: center;
}
