
.layout{
    border: 1px solid #d7dde4;
    background: #f5f7f9;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}
.layout-nav{
    text-align: center;
    color: #d7dde4;
    font-size: 22px;
}
.layout-footer-center{
    text-align: center;
}
